.container{
  width:600px;
}
.wrapper1{
  overflow:hidden;
}
.wrapper2{
  overflow:hidden;
}

.firstSlider ul, .secondSlider ul {
  position: absoulte;
  list-style: none;
}
.firstSlider ul li, .secondSlider ul li {
  float: left;
  padding:6px;
}
li img{
  height:200px;
  width:auto;
  border-radius:16px;
}

button{
border-radius:8px; 
border: 1.5px solid #134880;
padding: 16px 18px 16px 18px;
display: block;
cursor: pointer;
background-color:white;
}
.button{
  float:right;
  margin-right:460px;
  padding-top:20px;
}

button:disabled,
button[disabled]{
border: 1.5px solid #999999;
background-color: white;
}